<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Methods with reagents</title>
</head>
<body>
<a href="/reagents">Reagents</a>
<a href="/reagentsonstock">Reagents on stock</a>
<a href="/methods">Methods</a>
<a href="/methods/methods-with-reagents">Methods with reagents</a>
<a href="/delete-reagents-from-stock"> Delete reagent from stock</a>

<h2>Methods with reagents table </h2>
<table style="border:1px solid black">
    <tr>
        <td>Method name:</td>
        <td>Reagent name:</td>
    </tr>
    <tr th:each="method : ${methods}">
       <a th:href="@{/methods/details/{id}(id=method.methodId)}"><td th:text="${method.methodName}"></td></a>
    </tr>
<!--    <a href="#" th:href="@{'/method?driverId='+${driver.id}}" data-toggle="tooltip"-->
<!--       title="Pokaż zmiany"><i class="fas fa-glasses"></i></a>-->
</table>
</body>
</html>