<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Methods list</title>
</head>
<body>
<a href="/reagents">Reagents</a>
<a href="/reagentsonstock">Reagents on stock</a>
<a href="/methods">Methods</a>
<a href="/methods/methods-with-reagents">Methods with reagents</a>
<a href="/delete-reagents-from-stock"> Delete reagent from stock</a>
<h2> Add method form: </h2>
<form method="post" th:action="@{methods}" th:object="${method}">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="${method.methodName}"/></td>
        </tr>
    </table>
    <table style="border:1px solid black">
        <tr>
            <td>select</td>
            <td>name</td>
        </tr>
        <tr th:each="reagent : ${reagents}">
            <td><input type="checkbox" th:name="idChecked" th:value="${reagent.reagentId}"></td>
            <td th:text="${reagent.name}"></td>
    </table>
        <tr>
            <td><input type="submit" value="Add method" /></td>
        </tr>

</form>
<h2>
    Methods list:
</h2>
<table style="border:1px solid black">
    <tr>
        <td>Id:</td>
        <td>Method name:</td>
    </tr>
    <tr th:each="method : ${methods}">
        <td th:text="${method.methodId}"></td>
        <td th:text="${method.methodName}"></td>
    </tr>
</table>
KONIEC STRONY
</body>
</html>
