<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reagents on stock </title>
</head>

<body>
<a href="/reagents">Reagents</a>
<a href="/reagentsonstock">Reagents on stock</a>
<a href="/methods">Methods</a>
<a href="/methods/methods-with-reagents">Methods with reagents</a>
<a href="/delete-reagents-from-stock"> Delete reagent from stock</a>
<h2> Add reagent to stock form: </h2>
<form method="post" th:action="@{reagentsonstock}" th:object="${reagentOnStock}">
    <table border="1">
        <tr>
            <td>Packages amount:</td>
            <td><input type="text" th:field="${reagentOnStock.amountOfPackages}"/></td>
        </tr>
        <tr>
            <td>Package unit:</td>
            <td><input type="text" th:field="${reagentOnStock.packageUnit}"/></td>
        </tr>
        <tr>
            <td>Expiration date:</td>
            <td><input type="date" th:field="${reagentOnStock.expirationDate}"/></td>
        </tr>
        <tr>
            <td>Reagent Id:</td>
            <td><input type="text" th:field="${reagentOnStock.reagentId}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add reagent to stock"/></td>
        </tr>
    </table>
</form>
<h2>
    Reagents on stock:
</h2>
<table style="border:1px solid black">
    <tr>
        <td>Id:</td>
        <td>Amount of packages:</td>
        <td>Package unit:</td>
        <td>Expiration date:</td>
        <td>Reagent ID:</td>

    </tr>
    <tr th:each="reagentOnStock : ${reagentsOnStock}">
        <td th:text="${reagentOnStock.id}"></td>
        <td th:text="${reagentOnStock.amountOfPackages}"></td>
        <td th:text="${reagentOnStock.packageUnit}"></td>
        <td th:text="${reagentOnStock.expirationDate}"></td>
        <td th:text="${reagentOnStock.reagentId}"></td>
    </tr>
</table>
KONIEC STRONY
</body>
</html>