<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reagents list</title>
</head>

<body>
<a href="/reagents">Reagents</a>
<a href="/reagentsonstock">Reagents on stock</a>
<a href="/methods">Methods</a>
<a href="/methods/methods-with-reagents">Methods with reagents</a>
<a href="/delete-reagents-from-stock"> Delete reagent from stock</a>
<h2> Add reagent form: </h2>
<form method="post" th:action="@{reagents}" th:object="${reagent}">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="${reagent.name}"/></td>
        </tr>
    </table>
    <table style="border:1px solid black">
        <tr>
            <td>select</td>
            <td>name</td>
        </tr>
        <tr th:each="method : ${methods}">
            <td><input type="checkbox" th:name="idChecked" th:value="${method.methodId}"></td>
            <td th:text="${method.methodName}"></td>
    </table>
        <tr>
            <td><input type="submit" value="Add reagent"/></td>
        </tr>
    </table>
</form>
<h2>
    Reagents list:
</h2>
<table style="border:1px solid black">
    <tr>
        <td>Id:</td>
        <td>Name:</td>
    </tr>
    <tr th:each="reagent : ${reagents}">
        <td th:text="${reagent.reagentId}"></td>
        <td th:text="${reagent.name}"></td>
    </tr>
</table>
KONIEC STRONY
</body>
</html>